body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0px 243px;
  background: linear-gradient(90deg, #000000, #0E0E12);
  color: #FFFFFF;
}

html, body {
  height: 100%;
}

.awssld__content {
  border-radius: 16px;
}